.heading-site{
	text-align: center;
	font-family:'Montserrat', sans-serif;

}
.COLORED{
	height: 400px;
	width: 100%;
	background-color: blue;
	padding: 30px;
	text-align: center;
	color: white;
}
.bnim{
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	animation: animate 16s ease-in-out infinite;
}
@keyframes animate {
	0% {
		background-image:"src/image/exo2.jpg";
	}
}
.hd{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;
	line-height: 70px;
	 
	position: fixed; /*suivre le scrol*/
	top: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 999;
}
.hd .hdlog {
	color: white;
	font-family:'Montserrat', sans-serif;
    margin-left: 30px;
    float: left; /*se mettre a gauche */
}
.hd .hdmen {
	float: right;
	margin-right: 30px;

}
.hd .hdmen a{
	margin-right: 15px;
	color: #FFFFFF;

}
.hd .hdmen a:hover {
	color: grey;

}
.banner  {
	margin-top: -20px;
}
.banner .bnim {
	position: relative;
}
.banner .banner-content{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 70px;

	
}
.banner .banner-content{
	color: white;
	font-size: 30px;

}
.about .about-n .icon {
	font-size: 30px;
    text-align: center;

}
.about .about-n{
	text-align: center;

}
.about .about-n p{
	text-align: left;
	margin-top: 30px;
}

.footer .footer-information{
	text-align: center;
}
.footer .footer-information ul{
	padding: 0;

}
.footer .footer-information ul li{
	display: inline-block;
	list-style-type: none;
}
.on_modal{
	padding-top: 100px;
}
.about .about-n .ic {
	font-size: 30px;
    text-align: center;

}

